/* Pseudo class and elements */

/* select first leter of the h1 tag ::first-letter */
h1::first-letter{

    font-size: 70px;
    font-style: bold;
    color:brown

}

/* using before - insert the content before heading*/
h1::before
{
    content: "This is ";
    color:blue;
}

/* using after - insert the content after heading*/
h1::after
{
    content: "my page";
    color:green;
    font-size: 50px;
}

