/* Animation */

/* for class based style */
.box {
    width: 200px;
    height: 200px;
    background-color:olivedrab;
    position:relative;
    animation-name:anim; /* this is defined below @keyffram anim*/
    animation-duration:4s;   /*set animation duration in seconds */
}

/* Keyframes are the important frames which contain information of a start/end point of an action. A keyframe tells you about two things; first, it tells you what the action of your frame is at a certain point of time; second, it tells you what time that action occurs. */


@keyframes anim {

    0%{
        left:0;
        top:0;
        background-color:aqua;
    }
    100%{
        left:500px;
        top:0;
        background-color:green;
    }
    
}

/* change % from to (5,25,50,75) for the animation color and postion */

/* 

@keyframes anim {

    0%{
        left:0;
        top:0;
        background-color:aqua;
    }
    25%{
        left:500px;
        top:0;
        background-color:green;
    }
    50%{
        left:500px;
        top:500px;
        background-color:greenyellow;
    }
    75%{
        left:0px;
        top:500px;
        background-color:blue;
    }
    100%{
        left:0;
        top:0;
        background-color:aqua;
    }
    
    
} */


