/* text formating */
div{
    text-align: right;
}

p{
    background-color:blue;
    color:white;
    font-size:25px;
    text-align:center;
}

div p{
    display:inline;
    background-color:green;
    color:white;
    font-size:25px;
    text-align:center;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}