/* units css */
.container {
background-color:orange;
width:600px;
height:600px
}

.box {
    width:350;
    height:100px;
    font-size:25px;
    color:#fff;
}

.box-1 {
    background-color:green;
}

.box-2 { 
    background-color:skyblue;
    position: relative;
    width:400px;
    height:200px
}

.box-3 {
    background-color:pink;
}